.btn-jumbotron {
  color: #ffffff;
  background-color: #2b6a8d;
  border-color: #2b6a8d;
}
.btn-jumbotron:hover,
.btn-jumbotron:focus,
.btn-jumbotron:active,
.btn-jumbotron.active,
.open .dropdown-toggle.btn-jumbotron {
  color: #ffffff;
  background-color: #21526e;
  border-color: #1d475e;
}
.btn-jumbotron:active,
.btn-jumbotron.active,
.open .dropdown-toggle.btn-jumbotron {
  background-image: none;
}
.btn-jumbotron.disabled,
.btn-jumbotron[disabled],
fieldset[disabled] .btn-jumbotron,
.btn-jumbotron.disabled:hover,
.btn-jumbotron[disabled]:hover,
fieldset[disabled] .btn-jumbotron:hover,
.btn-jumbotron.disabled:focus,
.btn-jumbotron[disabled]:focus,
fieldset[disabled] .btn-jumbotron:focus,
.btn-jumbotron.disabled:active,
.btn-jumbotron[disabled]:active,
fieldset[disabled] .btn-jumbotron:active,
.btn-jumbotron.disabled.active,
.btn-jumbotron[disabled].active,
fieldset[disabled] .btn-jumbotron.active {
  background-color: #2b6a8d;
  border-color: #2b6a8d;
}
.btn-jumbotron .badge {
  color: #2b6a8d;
  background-color: #ffffff;
}


.break-word {
    word-wrap: break-word;
}


a.partner {
    line-height: 100px;
}

img.partner {
    max-height: 100px;
}


// Center images in carousel:
// http://stackoverflow.com/questions/19582340/make-bootstraps-carousel-both-center-and-responsive

div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
}

.carousel-inner > div.item {
    height: 350px;
    overflow: hidden;
}

.carousel-inner > div.item > img, 
.carousel-inner > div.item > a > img {
    margin: auto;
    /* width: 100%; use this, or not */
}

.carousel-caption {
    background-color: #21526e;
    left: 0px;
    bottom: 0px;
    opacity: 0.7;
    padding-bottom: 60px;
    right: 0px;
}


// Sidebar

/* First level of nav */
.sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f7f5fa;
    border-radius: 5px;
}

/* All levels of nav */
.sidebar .nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #e5e3e9;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #563d7c;
    background-color: transparent;
}

/* Nav: second level */
.sidebar .nav .nav {
    margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

