.break-word {
    word-wrap: break-word;
}

header p.slogan {
    display: inline-block;
    font-style:italic;
}

a.partner {
    line-height: 100px;
}

img.partner {
    max-height: 100px;
}


// Center images in carousel:
// http://stackoverflow.com/questions/19582340/make-bootstraps-carousel-both-center-and-responsive

div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
}

.carousel-inner > .item {
    height: 400px;
    overflow: hidden;
}

.carousel-inner > .item a {
    color: white;
    text-decoration: none;
}

.carousel-inner > div.item > img, 
.carousel-inner > div.item > a > img {
    margin: auto;
    /* width: 100%; use this, or not */
}

.carousel-inner > div.item > div.overlay > div.info > img {
    height: 32px;
    margin: 5px 10px;
    padding: 0px;
    width: 32px;
}


// Sidebar

/* First level of nav */
.sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f7f5fa;
    border-radius: 5px;
}

/* All levels of nav */
.sidebar .nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #e5e3e9;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #563d7c;
    background-color: transparent;
}

/* Nav: second level */
.sidebar .nav .nav {
    margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

