.break-word {
    word-wrap: break-word;
}

header p.slogan {
    display: inline-block;
    font-style:italic;
}

a.partner {
    line-height: 100px;
}

img.partner {
    max-height: 100px;
}


// Center images in carousel:
// http://stackoverflow.com/questions/19582340/make-bootstraps-carousel-both-center-and-responsive

div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
}

.carousel-inner > .item {
    height: 400px;
    overflow: hidden;
}

.carousel-inner > .item a {
    color: white;
    text-decoration: none;
}

.carousel-inner > div.item > img, 
.carousel-inner > div.item > a > img {
    margin: auto;
    /* width: 100%; use this, or not */
}

.carousel-inner > div.item > div.overlay > div.info > img {
    height: 32px;
    margin: 5px 10px;
    padding: 0px;
    width: 32px;
}
